#loginPopup {
    position: centre;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"] {
    margin: 10px 0;
    padding: 5px;
  }